/* Webflow slider customization */
.w-slider-dot { border: 1px solid #ff0034; } .w-slider-dot.w-active { background: #ff0034; border: 2px solid #ccc }

/* Materialize cusomization */
label { font-weight: normal; }
label.cm-checkbox {
	font-weight: 400;
    color: #333;
    font-size: 14px;
}

[type="checkbox"]+span:not(.lever) {
    padding-left:25px;
    line-height: 20px;
    font-size: 14px;
}

.cm-datepciker-icon {
	right: -18px;
}

[type="checkbox"]:checked + span:not(.lever):before {
    top: -7px;
}

[type="checkbox"] + span:not(.lever):before, [type="checkbox"]:not(.filled-in) + span:not(.lever):after {
    top: -2px;
}